<%= form_for @customer do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>
  <div class="field">
    <%= form.label :phoneno %>
    <%= form.text_field :phoneno %>
  </div>
  <div class="action">
    <%= form.submit 'New Customer' %>
  </div>

<% end %>